Package: app.k2genmity
Name: K2genmity
Version: 2.2.4
Architecture: iphoneos-arm
Description: The power of addons, all in your hand.
Maintainer: mafu, Rosie
Author: Enmity Team
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
SileoDepiction: https://repo.enmity.app/depictions/enmity.json
Icon: https://repo.enmity.app/icons/Enmity.png
